body {
    position: relative;
}

.container,
.area {
    width: 100vw;
    max-width: 1120px;
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-start;
    gap: 0.725rem;
    background: var(--gray-900);
}

.area h2 {
    color: var(--violet-500);
    font-weight: 400;
}

@media ((min-width: 768px)) {
    .container {
        grid-template-columns: 25rem 1fr;
    }
}