.layout {
  width: 80%;
}

.boxmain {
  padding: .5rem;
}

.box1 {
  width: 100%;
  height: 10.6rem;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
  background-color: var(--white);
  border: 1px solid var(--gray-400);
  border-bottom: transparent;
  position: relative;
}


.box2 {
  width: 100%;
  height: 100%;
  padding: .75rem;
  border-radius: 0 0 8px 8px;
  color: var(--white);
  border: 1px solid var(--gray-400);
  border-top: transparent;
}

.text1 {
  color: var(--violet-500);
  font-weight: bold;
  padding-top: 1rem;
  display: flex; /* Transforma o parágrafo em um contêiner flexível */
  justify-content: space-between; /* Empurra o primeiro item (título) para a esquerda e o segundo (selo) para a direita */
  align-items: center; 
}

.text2 {
  color: var(--gray-400);
}


.logoteach {
  width: 2rem;
  height: 2rem;
  overflow: hidden;
}

.box1 img {
  width: 100%;
  object-fit: cover;
}

.buttonviolet {
  width: 160px;
  padding: 0.5rem 0.5rem;
  margin-top: 1rem;
  font-weight: bold;
  background: var(--violet-500);
  color: var(--white);
  text-decoration: transparent;
  display: flex;
  justify-content: center;
  justify-items: center;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.1s;
  border: none;
  border-top: 1.25px solid var(--violet-500);
}

.space {
  display: flex;
  justify-content: space-between;
  gap: .25rem;
}


.buttonviolet:hover{
  opacity: .9;
  transition: transform 0.3s ease-in-out;
}

.textButtom:hover {
  transform: scale(1.2);
}

.newBadge {
  background-color: var(--green-700);
  color: white;
  padding: 4px 6px;
  align-content: end;
  border-radius: 4px;
  font-size: 0.8em;
}

@media only screen and (min-width: 768px) {
  .boxmain {
    width: 20rem;
  }
}