.layout {
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
}

.boxmain {
    width: 18rem;
    padding: .5rem;
    margin-left: -1rem;
}

.box1 {
    width: 100%;
    height: 12rem;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
    border: 1px solid var(--gray-300);
    border-bottom: transparent;
}

.box2 {
    width: 100%;
    height: 18rem;
    padding: 0 .75rem;
    border-radius: 0 0 8px 8px;
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--gray-300);
    border-top: transparent;
}

.text1 {
    color: var(--violet-500);
    font-weight: bold;
    font-size: 1.25rem;

}

.text2 {
    color: var(--gray-600);
}


.logoteach {
    width: 2rem;
    height: 2rem;
}

.logoteach img,
.box1 img {
    width: 100%;
    height: 100%;
}

.socialnetworks {
    width: 99%;
    padding: 0.5rem 1.5rem;
    margin-top: 1rem;
    font-weight: bold;
    background: var(--violet-500);
    color: var(--white);
    text-decoration: transparent;
    display: flex;
    justify-content: center;
    justify-items: center;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.1s;
    border: none;
    border-top: 1.25px solid var(--violet-500);
}


.socialnetworks a:hover {
    transition: 0.1s;
    border-top: 2rem solid var(--violet-500);
}

.link2 {
    cursor: pointer;
    transition: 0.1s;
}

.link2:hover {
    transition: 0.1s;
    color: rgba(0, 0, 0, 75);
}
.wrapper {
    display: flex;
    gap: 1rem;
}

.wrap {
    display: flex;
    gap: 1rem;
}

@media only screen and (min-width: 768px) {
    .wrapper {
        display: flex;
        gap: 2rem;
    }
}