.layout {
    display: grid;
    justify-content: center;
}

.wrap {
    width: 70%;
}

@media ((min-width: 768px)) {
    .layout {
        grid-template-columns: repeat(3, 1fr);
    }
    .wrap {
        width: 100%;
    }
}