
.container{
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    color: var(--gray-700);
    font-size: small;
}

@media ((min-width: 768px)) {
    .container {
        grid-template-columns: 25rem 1fr;
        font-size: medium;
        justify-content: flex-start;
        padding: 2rem 6rem;
    }
}