
.container{
    width: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: flex-start;
    background: var(--white);
    color: var(--gray-400);
    font-size: small;
}

@media ((min-width: 768px)) {
    .container {
        font-size: medium;
        padding-top: 2rem;
    }
}