.layout {
    width: 70%;
    /* margin: 0 auto; */
}

.boxmain {
    display: flex;
    justify-items: center;
    align-items: center;
}

.textdynamic {
    color: var(--violet-500);
    font-size: 1.5rem;
}

.text1 {
    color: var(--green-700);
}

.logoteach {
    width: 1.75rem;
    will-change: filter;
    transition: filter 300ms;
}

.logoteach:hover {
    filter: drop-shadow(0 0 .75em #646cffaa);
}

.wrap {
    display: flex;
    gap: .5rem;
    display: grid;
    grid-template-columns: repeat(6,2fr);
}


@media ((min-width: 768px)) {
    .layout {
        width: 70%;
        margin: 0 auto;
    }
    .wrapper {
        display: flex;
        gap: 2rem;
    }

    .textdynamic {
        font-size: 2rem;
        margin-top: 3rem;
    }
    .text1 {
        padding: 1rem 0;
    }
    .logoteach {
        width: 2rem;
        padding: .25rem;
    }
    .wrap {
        grid-template-columns: repeat(12,1fr);
    }
}