:root{
    --white: #fff;
    --black: #000;
    --gray-100: #e1e1e6;
    --gray-300: #c4c4cc;
    --gray-400: #8d8d99;
    --gray-600: #323238;
    --gray-700: #29292e;
    --gray-800: #202024;
    --gray-900: #121214;
    --green-300: #00B37E;
    --green-500: #00875f;
    --green-700: #0BFC1A;
    --violet-500: #5E07ED;
  }
  :focus{
    outline: transparent;
    box-shadow: 0 0 0 2px var(--violet-500);
  }
  *{
    margin:0.;
    padding:0;
    box-sizing:border-box;
  }
  body{
    background: var(--gray-700);
    color:var(--gray-300);
    -webkit-font-smoothing: antialiased;
  }
  body,input,textarea,button{
    font-family:'Roboto', sansserif;
    font-weight: 400;
    font-size: 1rem;
  }